@import '~antd/dist/antd.css';
.scrollable-container{
  overflow: scroll;
  height: 25em;
  width: 100%;
  scrollbar-width: none;
  box-shadow: 2px 2px 12px  #50555f;
  background-color:#50555f;
 
}
.avatar-rounded{
  border-radius:50%;
  height: 50%;
  width:50%;

}
.display-avatar{
  display:"inline-block";
  float: "left";
}
.display-author{
  display:"inline-block";
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  /*
  
  font-size: calc(10px + 2vmin);*/
  color: white;
}
.app-container{
  background-color: #282c34;
 
  color: white;
}




